In [1]:
!python --version

Python 3.8.10

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# step 1: problem statement
# predict selling price of car

In [ ]:
# step 2: data gathering

In [4]:
car_dataset = pd.read_csv(r"C:\Users\Lenovo\Desktop\python_batch\new_project\car data.csv")
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
car_dataset.shape

(301, 9)

In [6]:
car_dataset.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [7]:
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [12]:
car_dataset['Fuel_Type'].value_counts().to_dict()

{'Petrol': 239, 'Diesel': 60, 'CNG': 2}

In [13]:
car_dataset['Seller_Type'].value_counts().to_dict()

{'Dealer': 195, 'Individual': 106}

In [14]:
car_dataset['Transmission'].value_counts().to_dict()

{'Manual': 261, 'Automatic': 40}

In [15]:
car_dataset['Fuel_Type'].replace({'Petrol': 0, 'Diesel': 1, 'CNG': 2}, inplace = True)
car_dataset['Seller_Type'].replace({'Dealer': 0, 'Individual': 1}, inplace = True)
car_dataset['Transmission'].replace({'Manual': 0, 'Automatic': 1}, inplace = True)

In [16]:
car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    int64
 6   Seller_Type    301 non-null    int64
 7   Transmission   301 non-null    int64
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(6), object(1)
memory usage: 21.3+ KB

In [17]:
car_dataset.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0

In [18]:
x = car_dataset.drop(['Car_Name', 'Selling_Price'], axis = 1)
y = car_dataset['Selling_Price']

In [21]:
x

,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,5.59,27000,0,0,0,0
1,2013,9.54,43000,1,0,0,0
2,2017,9.85,6900,0,0,0,0
3,2011,4.15,5200,0,0,0,0
4,2014,6.87,42450,1,0,0,0
...,...,...,...,...,...,...,...
296,2016,11.60,33988,1,0,0,0
297,2015,5.90,60000,0,0,0,0
298,2009,11.00,87934,0,0,0,0
299,2017,12.50,9000,1,0,0,0
300,2016,5.90,5464,0,0,0,0

In [22]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [24]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size =0.1, random_state = 2)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((270, 7), (31, 7), (270,), (31,))

In [25]:
lin_model = LinearRegression()
lin_model.fit(x_train, y_train)

LinearRegression()

In [27]:
# model evaluation on training data

y_pred = lin_model.predict(x_train)

r2 = r2_score(y_train, y_pred)
r2

0.8799451660493708

In [28]:
# model evalution on testing data

y_pred = lin_model.predict(x_test)

r2 = r2_score(y_test, y_pred)
r2

0.8365766715026374

In [39]:
car_dataset.iloc[168]

Car_Name         Honda CB Trigger
Year                         2013
Selling_Price                0.42
Present_Price                0.73
Kms_Driven                  12000
Fuel_Type                       0
Seller_Type                     1
Transmission                    0
Owner                           0
Name: 168, dtype: object

In [34]:
x_train.tail(1).T

                    168
Year            2013.00
Present_Price      0.73
Kms_Driven     12000.00
Fuel_Type          0.00
Seller_Type        1.00
Transmission       0.00
Owner              0.00

In [ ]:
# user test function

In [38]:
Year = 2013.00
Present_Price = 0.73
Kms_Driven = 12000.00
Fuel_Type = 0.00
Seller_Type = 1.00
Transmission = 0.00
Owner = 0.00

# Selling_Price = ???

array = np.array([Year, Present_Price, Kms_Driven, Fuel_Type, Seller_Type, Transmission, Owner], ndmin = 2)
print(array)

Selling_Price = lin_model.predict(array)
Selling_Price

[[2.013e+03 7.300e-01 1.200e+04 0.000e+00 1.000e+00 0.000e+00 0.000e+00]]

C:\Users\Lenovo\anaconda3\envs\car_price\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.39415368])

In [35]:
x.columns

Index(['Year', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type',
       'Transmission', 'Owner'],
      dtype='object')

In [40]:
column_list = list(x.columns)
column_list

['Year',
 'Present_Price',
 'Kms_Driven',
 'Fuel_Type',
 'Seller_Type',
 'Transmission',
 'Owner']

In [41]:
import pickle

with open('model.pkl', 'wb') as file:
    pickle.dump(lin_model, file)

In [42]:
import json

d1 = {'columns': column_list}

with open('features.json', 'w') as file:
    json.dump(d1, file)